* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 100%; /*16px*/
  --base-color: #27ddc5;
  --base-color-second: #00c3ff;
  --text-color-light: hsl(0 0% 98%);

  --text-color: rgb(68, 68, 68);
  --body-font: normal 1.5rem corbel;
}

html {
  scroll-behavior: smooth;
}
body {
  font: var(--body-font);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  background-color: rgb(250, 250, 250);
}

.grid {
  /*espaços entre imagens, parágrafos dentro da seção*/
  display: grid;
  gap: 2rem;
}
ul {
  list-style: none;
}

a {
  font-weight: bold;
  color: var(--base-color);
  text-decoration: none;
}

.logo {
  color: var(--base-color);
  /*height: 4.5rem;  16*4.5= 72px */
  font: bold 20pt corbel;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--base-color-second)),
    to(var(--base-color))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*CABEÇALHO*/
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem; /* =32px */
  display: flex; /* ver */

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

nav {
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav .title {
  font-size: 35pt;
}
nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
  background-color: #e4e4e4;
  width: 1%;
}
nav.show .menu {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}
nav .show ul .grid {
  /*grid apenas quando o menu estiver aberto*/
  gap: 4rem;
}

nav .show .menu ul {
  display: grid;
}

nav ul li {
  /* width: auto;*/ /* ver */
  margin: 0.8em;
  font-size: 1.5rem;
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  /*hover quando o usuário passar o mouse sobre o menu*/
  color: var(--base-color-second);
}

/*nav ul li a.active {
  color: var(--base-color);
}*/ /* ver o que é active*/

nav ul li a:hover::after {
  /*pseudo elemento after qdo passaor o mouse e aparece o traço*/
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--base-color-second);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ver o que é active*/
/*nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}*/

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.1s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*MAIN*/
main {
  margin-top: 6.5rem;
}
.container {
  /*div das seções*/
  width: 90%; /* ver */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
h3 {
  margin-bottom: 2rem;
  width: 90%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: rgb(41, 41, 41);
}

.section {
  padding: 4.38rem 0; /*distantância entre uma section e outra é de aprox. 70px em cima e em baixo, nas laterais = a 0*/
}
.section .title {
  margin-bottom: 1rem;
}

.div-1 {
  height: 1.3px;
  background: linear-gradient(
    270deg,
    var(--base-color) 0%,
    var(--base-color-second) 100%
  );
}

.div-2 {
  height: 1.3px;
  background: linear-gradient(
    270deg,
    var(--base-color-second) 0%,
    var(--base-color) 100%
  );
}

/*HOME*/
/*#home {
  overflow:hidden ;
}*/ /* VER: A overflowpropriedade especifica se deve cortar o conteúdo ou adicionar barras de rolagem quando o conteúdo de um elemento é muito grande para caber na área especificada.*/

.image-logo {
  text-align: center;
}
.image-abertura {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  /* width: 100%;
    height: auto;*/
}

.txtAbertura {
  font-size: x-large;
  text-align: justify;
}

#home a {
  transition: color 0.2s;
  position: relative;
}
#home a:hover {
  /*hover quando o usuário passar o mouse sobre */
  color: var(--base-color-second);
}
#home a:hover::after {
  /*pseudo elemento after qdo passar o mouse e aparece o traço*/
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--base-color-second);

  position: absolute;
  left: 0;
  bottom: 0;
}

/*SOBRE*/
.txtAbout p {
  text-align: justify;
}

/*GALERIA*/
img.image {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;

  /* width: 100%;
  height: auto;*/
}

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 1rem 1rem 1rem 1rem;
  text-align: center;
}
.card i {
  display: block;
  margin-bottom: 1.5rem;
}

h4 .title {
  margin-bottom: 0.75rem;
}
h4 {
  color: rgb(41, 41, 41);
}

.pop {
  text-align: justify;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background: #f3f1f1;
  z-index: 999; /*999 acima de totos os outros elemento */
  opacity: 0; /*opacidade 0 significa elemento totalmente transparente*/
  /*Com a propriedade transition, estamos informando ao navegador que o motor de renderização deve realizar a troca de forma suave, quando o elemento com a class pop sofrer uma mudança na propriedade opacity.A troca deve ser feita em 400 ms (milissegundos), utilizando o efeito ease-in para determinar o ritmo em que a transição será feita.*/
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; /* indica ao navegador que o elemento não deve receber eventos realizados pelo mouse.*/
  display: none; /*valor NONE permite desativar a exibição do elemento. Desse modo, o documento é renderizado como se o elemento não existisse. Já o valor BLOCK indica ao navegador que o elemento deve ser renderizado em bloco, juntamente com seus filhos ou elementos contidos nele. */
}
.pop:target {
  /*block para div ficar visível; opacidade muda quando clicar no link/âncora; pointer auto possibilita a interação*/
  display: block;
  opacity: 1;
  pointer-events: auto;
}

a.close {
  background-color: white;
  color: var(--base-color);
  line-height: 1.5rem; /*botão close, ajusta a altura que a letra X terá dentro do elemento.*/
  position: absolute;
  right: -10px;
  text-align: center;
  top: -8px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
a.close:hover {
  background-color: var(--base-color-second);
  color: white;
}

/*ENCOMENDAS*/
#services {
  width: 100%;
  height: 100%;
}

/*#services .container {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  align-items: center;
}*/

#myform {
  width: 100%;
}
#services form {
  position: relative;
  background-color: var(--base-color);
  padding: 2.3rem 0.5rem;
  border-radius: 0.25rem;
}
#services form label {
  font: 700 var(--body-font);
  color: white;
  display: flex;
}
.txt-place {
  font: normal 1rem corbel;
}

.form-input {
  margin: 0 2.5rem 1.2rem 2rem;
}

#services form input {
  max-width: 100%;
  width: 99%;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: solid var(--base-color) 1px;
  padding-left: 1%;
}
#services form textarea {
  max-width: 100%; /*máximo para o txtarea não ultrapasse a largura do formulário, ou seja, limita à largura do pai form*/
  width: 99%;
  border: solid var(--base-color) 1px;
  padding: 0.5rem 0 0 0.5rem;
  min-height: 6rem;
  resize: vertical;
}
button {
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font: 700 var(--body-font);
  color: white;

  color: var(--text-color-light);
  background-color: var(--base-color);
  transition: background 0.3s;
}

button:hover {
  background: #00ffbf;
}

#services a {
  transition: color 0.2s;
  position: relative;
}
#services a:hover {
  /*hover quando o usuário passar o mouse sobre */
  color: var(--base-color-second);
}
#services a:hover::after {
  /*pseudo elemento after qdo passar o mouse e aparece o traço*/
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--base-color-second);

  position: absolute;
  left: 0;
  bottom: 0;
}

/*CONTATOS*/
#contact .text p {
  margin-bottom: 2rem;
}
#contact.button i {
  font-size: 1.5rem;
  margin-right: 0.625rem; /*margem entre o ícone com o texto*/
}
#contact ul li {
  display: flex;
  align-items: center;
}
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem; /*margem entre o ícone com o texto*/
  color: var(--base-color);
}

#contact ul.grid {
  gap: 2rem;
}

/*FOOTER*/
footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo1 {
  display: inline-block;
  margin-bottom: 1.5rem;
  color: var(--text-color-light);
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

footer i {
  font-size: 2rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*Responsividade*/
/*extra large devices: > 1200*/
/*large devices: > 1023*/
/*large devices: > 992*/
/*medium devices: > 767*/

/*MEDIA QUERIES*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section h3 {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 1.7rem;
  }

  /* navigation */

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    background-color: white;
    width: 100%;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: 6.5rem;
  }
  h3 {
    font-size: 2.25rem;
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #home .imageAbertura {
    order: 1;
  }

  #home .txtAbertura {
    order: 0;
    /*max-width: 24rem;*/
    text-align: justify;
    justify-content: space-around;
  }

  /* galeria */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* services */
  #services .grid {
    justify-items: center;
  }

  #myform {
    width: 80%;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
  h4 {
    font-size: 1.7rem;
  }
}
/* medium devices: 767 > */
