@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --base-color: #1d6e69;
  --base-color-second: #2659a7;
  --text-color-light: #fafafa;
  --text-color: #444444;
  --body-font: 'Montserrat', sans-serif;
  --body-font-size: 1.15rem;
}
  
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    
  }
    
  .grid {
    display: grid;
    gap: 2rem;
  }
  ul {
    list-style: none;
  }
  
  
  
  /*CABEÇALHO*/
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem; /* =32px */
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--base-color);
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.image-abertura {
  object-fit: cover;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  margin-top: 0.4rem;
  
}

nav {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav .title {
  font-size: 30pt;
}
nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
  background-color: #e4e4e4;
  width: 1%;
  
}
nav.show .menu {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  
}
nav .show ul .grid {
  /*grid apenas quando o menu estiver aberto*/
  gap: 4rem;
}

nav .show .menu ul {
  display: grid;
}

nav ul li {  
  margin: 0.8em;
  font-size: 1.5rem;
  text-align: center;
}
nav ul li a {
  color: var(--base-color);
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color-second);
}

nav ul li a:hover::after {
  /*pseudo elemento after qdo passaor o mouse e aparece o traço*/
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--base-color-second);
  position: absolute;
  left: 0;
  bottom: 0;
}




/* toggle menu */
.toggle {
  color: var(--text-color-light);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  color: var(--base-color);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.1s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}
  
  /*GALERIA*/
  #galeria{
    margin-top: 5rem;
  }
  .container{
    margin: 0 0.75rem;
    overflow: hidden;
  }
  h3{
    font-size: 1.25rem;
  }
 
.txt{
  font-size: var(--body-font-size);
  margin-bottom: 1rem;
}
.txt a {
  font-weight: bold;
  color: var(--base-color);
  text-decoration: none;
}
.txt a {
  transition: color 0.2s;
  position: relative;
}
.txt a:hover {
  color: var(--base-color-second);
}
.txt a:hover::after {
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--base-color-second);

  position: absolute;
  left: 0;
  bottom: 0;
}
  

  .carousel{
    max-width: 100vw;
    margin-bottom: 3.5rem;
  }

  .carousel-item{      
    display:flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y:hidden; 
  }
  
  .carousel-item::-webkit-scrollbar {
    width: 0.5rem; 
  }
  
  .carousel-item::-webkit-scrollbar-thumb {
    background: var(--base-color); 
    border-radius: 20px;     
    border: 1px solid var(--base-color );
  } 

  div.carousel-title h3{    
    color: var(--base-color );
    text-align: center;   

  }

  .card{
      margin: 0.5rem;
      
  }

  img.image{
     height: 230px;
     width: 230px;
     object-fit: cover;
     border-radius: 10%;
     box-shadow: 0 5px 10px rgba(0,0,0,0.3);
     
  }

/*FOOTER*/
footer {
  background: var(--base-color);
  color: var(--text-color-light);
  font-size: 1rem;
}

footer.section {
  padding: 1rem 0;
}

footer .logo1 {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .brand p {  
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

footer .term a{
  color: var(--text-color-light);
  font-size: 1rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/*MEDIA QUERIES*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  h3 {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

    /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    background-color: var(--base-color);
    width: 90%;
  }

  nav .menu ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--text-color-light);
    -webkit-font-smoothing: antialiased;
    color: var(--text-color-light);
  }
   

  nav .icon-menu {
    display: none;
  }

  nav ul li a {
    transition: color 0.5s; 
    position: relative;
  }
  
  nav ul li a:hover {    
    font-size:1.2em;
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0.5px; 
   
    transition-timing-function: ease-in-out;
  }
  nav ul li a:hover::after {
    /*pseudo elemento after qdo passaor o mouse e aparece o traço*/
    content: ' ';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  h3 {
    font-size: 2rem;
  }

  
}

/* medium devices: 767 > */
@media (min-width: 767px) {
  /* footer */
  footer.section {
   padding: 3.75rem 0;
 }
 
 footer .container {
   grid-auto-flow: column;
   align-items: center;
   justify-content: space-between;
 }
 
 footer .logo {
   font-size: 2.25rem;
 }
 }